.App {
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.task-name {
  display: inline;
}

.task-body {
  width: auto;
}